:host{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: #e33737;
    color: #fff;
    padding: 5px 20px;
    font-size: 16px;
    margin-top: 20px;
}